@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 微軟正黑體;
  color: #070d02;
}

#navigation {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  padding: 20px 100px;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  background: white;
  z-index: 1;
}

@media screen and (min-width: 1025px) {
  #navigation {
        grid-template-areas: "logo link social";
  }
}

@media screen and (max-width: 1024px) {
  #navigation {
        grid-template-areas: "logo social menu";
  }
}

@media screen and (max-width: 767px) {
  #navigation {
    padding: 10px 10px;
  }
}

#navigation #menu {
  grid-area: menu;
  width: 40px;
}

@media screen and (min-width: 1025px) {
  #navigation #menu {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  #navigation #menu {
    display: block;
    margin-left: auto;
  }
}

@media screen and (max-width: 767px) {
  #navigation #menu {
    margin: 32px;
  }
}

.logo {
  grid-area: logo;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 42px;
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media screen and (max-width: 767px) {
  .logo {
    font-size: 40px;
  }
}

.logo:hover {
  color: #16f2e4;
}

.link a {
  text-decoration: none;
  padding: 30px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.link a:hover {
  color: #16f2e4;
}

@media screen and (max-width: 1024px) {
  .link {
    display: none;
  }
}

.social {
  grid-area: social;
  text-align: right;
}

.social img {
  -webkit-filter: invert(6%) sepia(36%) saturate(659%) hue-rotate(50deg) brightness(96%) contrast(103%);
          filter: invert(6%) sepia(36%) saturate(659%) hue-rotate(50deg) brightness(96%) contrast(103%);
  width: 32px;
  margin-left: 30px;
}

@media screen and (max-width: 767px) {
  .social img {
    margin-left: 0;
    width: 20px;
  }
}

.social img:hover {
  -webkit-filter: invert(72%) sepia(100%) saturate(409%) hue-rotate(105deg) brightness(112%) contrast(90%);
          filter: invert(72%) sepia(100%) saturate(409%) hue-rotate(105deg) brightness(112%) contrast(90%);
}

#banner {
  width: 100%;
  height: 100vh;
  background: #eee;
}

#about {
  width: 100%;
  height: 100vh;
  text-align: center;
}

#about h2 {
  font-size: 300px;
  font-family: "Open Sans Condensed", sans-serif;
  letter-spacing: 20px;
  padding-left: 20px;
  margin-top: 100px;
}

@media screen and (max-width: 767px) {
  #about h2 {
    font-size: 68px;
    letter-spacing: 10px;
    padding-left: 15px;
    margin-top: 15px;
  }
}

#about p {
  padding: 30px;
  margin-bottom: 20px;
}

.title {
  font-size: 36px;
  padding: 20px;
  text-align: center;
}

.button-box {
  padding: 10px 60px;
  border: 2px solid #070d02;
  text-decoration: none;
  -webkit-transition: 0.04s;
  transition: 0.04s;
}

.button-box:hover {
  background: #070d02;
  color: white;
}

.button-div {
  text-align: center;
  margin-top: 50px;
}

#works {
  height: 100vh;
  background: #f9f9f9;
}

@media screen and (max-width: 767px) {
  #works {
    height: auto;
    padding-bottom: 100px;
  }
}

#works #work-box {
  width: 1200px;
  display: -ms-grid;
  display: grid;
  margin: 0 auto;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (330px)[2];
      grid-template-rows: repeat(2, 330px);
  grid-gap: 15px 25px;
}

@media screen and (max-width: 1024px) {
  #works #work-box {
    width: 100%;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    padding: 0 35px;
  }
}

@media screen and (max-width: 767px) {
  #works #work-box {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

#works #work-box .work-box-small img {
  display: block;
  width: 100%;
  height: 300px;
  background: #000;
}

#works #work-box .work-box-small h2 {
  text-align: center;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

#works #work-box .work-box-small span {
  display: inline-block;
  border: 1px solid black;
  border-radius: 35px;
  padding: 5px 10px;
  margin-top: 10px;
  font-size: 12px;
}

footer {
  background: #070d02;
  padding: 50px;
  text-align: center;
}

footer .logo {
  color: #cdcdcd;
}

footer .link a {
  color: #cdcdcd;
}

footer .social {
  text-align: center;
}

footer .social img {
  -webkit-filter: invert(78%) sepia(11%) saturate(3%) hue-rotate(3deg) brightness(102%) contrast(96%);
          filter: invert(78%) sepia(11%) saturate(3%) hue-rotate(3deg) brightness(102%) contrast(96%);
  margin: 30px 20px;
}

footer #copyright {
  color: #cdcdcd;
  font-size: 8px;
  margin-top: 45px;
}
/*# sourceMappingURL=style.css.map */